extend ../layout.jade
block content
    .container.web-body
        .row.settings
            .col-md-12.column(style='margin-bottom: 50px;')
                #tabs.tabbable
                    h2 编辑
                    ul.nav.nav-tabs
                        li.active
                            a(href='#tabPanel-1', data-toggle='tab') 个人信息
                        //li
                            a(href='#tabPanel-2', data-toggle='tab') 修改密码
                    .tab-content(style='padding-top:50px')
                        #tabPanel-1.tab-pane.active
                            .col-md-8
                                form#infoForm.form-horizontal(role='form', method='post')
                                    .form-group
                                        label.col-md-2.control-label(for='username') 姓名
                                        .col-md-8
                                            input#username.form-control(type='text', value='hbqhbq123@qq.com', name='username', required='required')
                                    .form-group
                                        label.col-md-2.control-label(for='password') 年龄
                                        .col-md-8
                                            input#password.form-control(type='text', value='hbqhbq123@qq.com', name='password', required='required')
                                    .form-group
                                        label.col-md-2.control-label(for='salt') 家庭住址
                                        .col-md-8
                                            input#salt.form-control(type='text', value='hbqhbq123@qq.com', name='salt', required='required')
                                    .form-group
                                        label.col-md-2.control-label(for='email') 邮箱
                                        .col-md-8
                                            input#email.form-control(type='text', value='hbqhbq123@qq.com', name='email', required='required')
                                    .form-group
                                        label.col-md-2.control-label(for='profile') 简介
                                        .col-md-8
                                            input#profile.form-control(type='text', value='hbqhbq123@qq.com', name='profile', required='required')
                                    .form-group
                                        .col-sm-offset-2.col-md-11
                                            button.btn.btn-success(type='button', onclick='upInfo();')
                                                i.glyphicon.glyphicon-saved
                                                |  提交