extend ../layout.jade
    block content
        .container.web-body
            .row.settings
                .col-md-12.column(style='margin-bottom: 50px;')
                    #tabs.tabbable
                        h2 编辑
                        ul.nav.nav-tabs
                            li.active
                                a(href='#tabPanel-1', data-toggle='tab') 个人信息
                            //li
                                a(href='#tabPanel-2', data-toggle='tab') 修改密码
                        .tab-content(style='padding-top:50px')
                            #tabPanel-1.tab-pane.active
                                .col-md-8
                                    form#infoForm.form-horizontal(role='form', method='post')
                                        .form-group
                                            label.col-md-2.control-label(for='name') 昵       称
                                            .col-md-8
                                                input#name.form-control(type='text', value='hbqhbq123@qq.com', name='username', required='required')
                                        .form-group
                                            label.col-md-2.control-label(for='gender') 性       别
                                            .radio-inline
                                                label(style='margin-left: 20px;')
                                                    input#gender(data-check='true', type='radio', name='gender', value='true', checked='checked')
                                                    | 男
                                            .radio-inline
                                                label
                                                    input(type='radio', checked='checked', name='gender', value='false')
                                                    | 女
                                        .form-group
                                            label.col-md-2.control-label(for='birthday') 出生日期
                                            .col-md-8
                                                input#birthday.form-control(data-value='Thu Jan 29 2015 00:00:00 GMT+0800 (CST)', type='text', name='birthday')
                                        .form-group
                                            label.col-md-2.control-label(for='telephone') 手机号码
                                            .col-md-8
                                                input#telephone.form-control(type='text', name='telephone', value='', onkeyup="value=value.replace(/\s/g,'')")
                                        .form-group
                                            label.col-md-2.control-label(for='job') 职       位
                                            .col-md-8
                                                input#jobHid(type='hidden', name='jobHid', value='')
                                                select#job.form-control(name='job', hidefocus='true')
                                                    option(value='', selected='selected') 请选择职位
                                                    option(value='Web前端工程师') Web前端工程师
                                                    option(value='PHP开发工程师') PHP开发工程师
                                                    option(value='JAVA开发工程师') JAVA开发工程师
                                                    option(value='移动开发工程师') 移动开发工程师
                                                    option(value='.Net开发工程师') .Net开发工程师
                                                    option(value='软件测试工程师') 软件测试工程师
                                                    option(value='Linux系统工程师') Linux系统工程师
                                                    option(value='交互设计师') 交互设计师
                                                    option(value='产品经理') 产品经理
                                                    option(value='UI设计师') UI设计师
                                                    option(value='学生') 学生
                                                    option(value='其它') 其它
                                        .form-group
                                            label.col-md-2.control-label(for='company') 公司名称
                                            .col-md-8
                                                input#company.form-control(type='text', name='company', value='', onkeyup="value=value.replace(/\s/g,'')", placeholder='目前就职公司')
                                        .form-group
                                            label.col-md-2.control-label(for='city') 所在城市
                                            .col-md-8
                                                input#city.form-control(type='text', name='city', value='', onkeyup="value=value.replace(/\s/g,'')", placeholder='所在城市')
                                        .form-group
                                            label.col-md-2.control-label(for='profile') 个人介绍
                                            .col-md-8
                                                textarea#profile.form-control(rows='8', name='profile')
                                        .form-group
                                            .col-sm-offset-2.col-md-11
                                                button.btn.btn-success(type='button', onclick='upInfo();')
                                                    i.glyphicon.glyphicon-saved
                                                    |  提交
                                                                                                                                     