doctype html
html
  head
    meta(charset='utf-8')
    |     
    title Hello world
    |     
    link(href='/css/main.css', rel='stylesheet')
  |   
  body
    a(target="_self",href=url)
      img(src=imgUrl ,style="height:100%;width:100%;")