doctype html
html
  head
    meta(charset='utf-8')
    |     
    title Hello world
    |     
    link(href='dist/css/main.css', rel='stylesheet')
  |   
  body
    h2 &#x8FD9;&#x662F;&#x6211;&#x7684;&#x4E2A;&#x4EBA;&#x4E3B;&#x9875;  &#x4F60;nnnnnnn
